/* External CSS */
h1 {
    color: red;
    background-color: green;
    margin: auto 50px;
    padding: -10px;
    text-align: center;
    width: 75%;
}

h3 {
    color: blue;
    background-color: beige;
    margin: auto 20;
    padding: -10px;
    text-align: center;
    height: 25%;
}

p {
    color: blue;
    background-color: beige;
    margin: auto 20;
    padding: -10px;
    text-align: center;
    height: 25%;
}